{% extends 'base.html' %}

{% block container %}
    <div class="container">
        <h2 class="mt-3">User profile: {{ current_user.email }} </h2>

        <div class="row">
            <div class="col-lg-6">
                <div class="card" style="height: 100%">
                    <div class="card-body">
                        <div class="d-flex mb-2">
                            <h4 class="text-center font-weight-normal text-center mt-2">
                                My notes
                            </h4>

                        </div>
                        <hr class="mt-2 mb-3">

                        {% if object_list %}
                            <ul class="list-group">
                                {% for object in object_list %}
                                    <li class="list-group-item list-group-item-action">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{ object.title }}</h5>
                                            <div>
                                                <a href="{{ url_for("note_update", pk=object.id ) }}"
                                                   class="ms-1 btn btn-outline-primary">Update</a>
                                                <a href="{{ url_for("note_delete", pk=object.id ) }}"
                                                   class="ms-1 btn btn-outline-danger">Delete</a>
                                            </div>
                                        </div>
                                        <span class="me-md-5 me-3">{{ object.content }}</span><br>
                                        <span class="me-md-5 me-3">{{ object.user.email }} {{ object.time_create }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <h3 class="text-center">
                                No reports found
                            </h3>
                        {% endif %}


                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card" style="height: 100%">
                    <div class="card-body">
                        <div class="d-flex mb-2">
                            <h4 class="text-center font-weight-normal mt-2">
                                Actions
                            </h4>
                        </div>

                        <hr class="mt-2 mb-3">
                        <div class="d-flex justify-content-center mb-4 mt-2">
                            <a href="{{ url_for("note_create") }}" type="button"
                               class="btn btn-success btn-wight">Create note</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}